* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

body {
    background: url(../images/slider/bgSliderOne.jpg) no-repeat;
    background-size: 100%;
    transition-duration: 1000ms;
}